body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serifS;

}
head {
    background-color: aquamarine;
    padding: 20px;
    text-align: center;
    .right-aling{
        bottom: class; right
    
   
nav {

    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:aquamarine;

}
nav li a
{
    display: block;
    color: rgb(0, 152, 152);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
section#products{
    margin-top: 20px;
}
    .product{

        float: left;
        width: 200px;
        padding: 20px;
        text-align: center;
    }
    .product image {
        width: 150px;
        height: 150px;
    }
    footer{
        background-color: antiquewhite;
        padding: 20px;
        text-align: center;
    }

.image
{
    width: 100px;height: 100px;
}

